{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/favico.jpg' %}" /> 

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %}">

  <script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {    
      var cookieValue = null;
      if (document.cookie && document.cookie !=='') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
          //Does this cookies string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getToken('csrftoken');

    function getCookie(name) {
        //split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");

        //loop through the array elements
        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            /* Removing whitespacing at the begining of the cookie name
            and compare it with the given string */
          if(name == cookiePair[0].trim()) {
              // decode the cookie value and return
              return decodeURIComponent(cookiePair[1]);
            }
        }

        //return null if not found
        return null;
    }

    var cart = JSON.parse(getCookie('cart'))
    if(cart == undefined){
      cart = {}
      console.log('Cart was created!')
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }

    console.log('Cart:', cart)
    
  </script>
  

  <style type="text/css">
    body {
          font-family: Sans-Serif;
        }

        #start-payment-button {
            cursor: pointer;
            position: relative;
            background-color: blueviolet;
            color: #fff;
            max-width: 30%;
            padding: 10px;
            font-weight: 600;
            font-size: 14px;
            border-radius: 10px;
            border: none;
            transition: all .1s ease-in;
        }
      .brand {
        width: 130;
      }
  </style>

</head>

<body>

   <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top shadow">
      <div>
      <a class="navbar-brand" href="{% url 'store' %}"><img class="img-fluid brand" src="{% static 'logo.png' %}"></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="{% url 'store' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <div class="form-inline my-2 my-lg-0">
            <a class="nav-link active text-dark" href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'cart' %}">
              <img  id="cart-icon" src="{% static 'img/6+cart.png' %}">
            </a>
           <p id="cart-total">{{cartItems}}</p>
         </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link navstyle text-dark" href="{% url 'checkout' %}">Checkout</a>
          </li>
          <li class="dropdown nav-item active">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-transparent text-dark" type="submit">Logout</button>
            </form>  
          {% else %}
          <a class="nav-link  active text-dark" href="{% url 'login' %}">Login</a>
          {% endif %}
        </li>
        </ul>
        <form class="form-inline my-2 my-sm-2 element" action="{% url 'search' %}" method="POST">
          {% csrf_token %}
        <input class="form-control mr-sm-2 input-sm" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      </div>
    </nav>
</div>
</header>

<main>

  {% block content %}{% endblock %}

</main>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="application/javascript" src="{% static 'main.js' %}"></script>
 

</body>
</body>
</html>