{% extends 'store/base.html' %}
{% block content %}
{% load static %}

<section class="container">
	<div class="row" style="padding-top: 60px;">
		<div class="col-lg-10">

			<div class="cartbox-element" method="POST">
				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back to store</a>
				<a  class="btn btn-outline-success" href="{% url 'checkout' %}">&#8594; Checkout</a>
				<hr>
				<h3>Cart Summary</h3>
				<h5>Items: <!--{{count.quantity__sum}}--> {{cartItems}}</h5>
				<h5>Total:Tsh <!--{{result.total|floatformat:2}}--> {{order.get_cart_total}}</h5>
				<hr>
				<div class="cart-row">
				<div style="flex:4"></div>
				<div style="flex:3"><strong>Item</strong></div>
				<div style="flex:2"><strong>Price</strong></div>
				<div style="flex:1"><strong>Quantity</strong></div>
				<div style="padding: 10px;"></div>
				<div style="flex:3"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:4;"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:3"><p>{{ item.product.name }}</p></div>
					<div style="flex:2"><p>Tsh {{ item.product.price|floatformat:2 }}</p></div>
					<div><p>{{ item.quantity }}</p></div>
					<div style="flex:1">
						<div class="quantity">
								<input data-product={{item.product.id}} data-action="add" class="quantityChg update-cart" type="image" width="30" src="{% static 'img/arrow-up.png' %}"> 
									
								<input data-product={{item.product.id}} data-action="remove" class="quantityChg update-cart" type="image" width="30" src="{% static 'img/arrow-down.png' %}" style="padding-top: 3px;">
						</div>
					</div>
					<div style="flex:3"><p>{{ item.get_total }}</p></div>
				</div>
				{% endfor %}
  
				
				<div>
				  <a  class="btn btn-outline-success" href="{% url 'checkout' %}">&#8594; Complete order</a>
				</div>
			</div>
		</div>

	</div>
</section>


{% endblock %}


 


