{% extends 'store/base.html' %}
{% block content %}
{% load static %}

<section class="container">
	<div class="row">

		<div class="col-lg-7" style="padding-top: 80px;">
			
			{% if searched %}
				
					<center><h5>You Searched for {{ searched }} </h5></center>					
			<!--Tunaanza hapa-->
				<div class="">
					<div class="cart-row">
						<div style="flex:4"></div>
						<div style="flex:3"><strong>Item</strong></div>
						<div style="flex:2"><strong>Price</strong></div>
						<div style="flex:1"></div>
					</div>
					
				{% for product in products %}
					<div class="cart-row">
						<div style="flex:4"><img class="img-fluid row-image" src="{{ product.imageURL }}"></div>
						<div style="flex:3"><p>{{ product }}</p></div>
						<div style="flex:2"><p>${{ product.price }}</p></div>
						<div style="flex:1">
						<!--	
							<div class="quantity">
								<input data-product={{product.id}} data-action="add" class="quantityChg update-cart" type="image" width="30" src="{% static 'img/arrow-up.png' %}"> 
									
								<input data-product={{product.id}} data-action="remove" class="quantityChg update-cart" type="image" width="30" src="{% static 'img/arrow-down.png' %}" style="padding-top: 3px;">
						
							</div>
						-->
						</div>
						<div>
							<a type="submit" class="btn btn-outline-success update-cart" data-product="{{product.id}}" data-action="add">Add To Cart</a>
						</div>
					</div>	
				</div><br/>	<br/>
				{% endfor %}
			{% else %}
				<center>
					<h3>We couldnt find the product<br/>
					you searched for...</h3>
				</center>
			   
			{% endif %}
		</div>
	</div>
</section>


{% endblock %}


 


